.button {
  min-width: 147px;
  padding: 16px 36px;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
  border-radius: 6px;
  border: none;
  transition: all 0.3s ease-in-out;
}

.button.primary {
  background-color: #35b8be;
  color: white;
}
.button.primary:hover {
  box-shadow: 3px 3px 10px 1px rgba(101, 119, 117, 0.3);
  transform: translateY(-3px);
}

.button.filter {
  background-color: #F5FBFC; 
  border: 1px solid #61728333;
}

.button.filter.active {
  background-color: #35b8be;
  color: white;
}

.button.filter:hover {
  background-color: #a3a3a3;
}