$light-color:#ffffff;
$light-color-background:#F5FBFC;
$dark-color-background:#232323;

.footer {
    padding: 100px 120px 60px 120px;    
    position: relative;
    z-index: 2;

    &::before {
        content: "";
        position: absolute;
        background-color: $light-color-background;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .back_img {
        position: absolute;
        z-index: -1;
        left: 0px;
        bottom: 0px;  
        color: #E5F1F3;  
    }

    .footer_nav {
        display: flex;
        justify-content: space-between;

        .about_wrapper {
            display: flex;
            flex-direction: column;

            .footer_nav_subtext {
                width: 245px;
                font-family: "Inter", sans-serif;
                font-size: 16px;
                line-height: 27px;
                letter-spacing: 0.36px;
                text-align: left;
                color: #546285;
                margin-top: 25px;
            }
        }
    }

    .ads_section_wrapper {
        display: flex;
        justify-content: space-between;
        padding-top: 60px;
        margin-top: 100px;
        border-top: 1px solid #7E828F17;

        .build_info{
            font-family: "Inter", sans-serif;
            font-size: 15px;
            line-height: 20px;
            text-align: left;
            color: #353448;
            margin-top: 10px;
        }



        .social_networks {
            display: flex;
            gap: 24px;

            .social_icon {
                cursor: pointer;
            }
        }
    }
}



[data-theme="dark"] {
  .footer {
    &::before {
      background-color: $dark-color-background;
    }
    .back_img {
        color: #1E1E1E;
    }

    .build_info{
        color: $light-color;
    }


    .footer_nav {
        .about_wrapper{
            .footer_nav_subtext {
                color: #b8b5b5;
            }
        }
    }

    .social_icon {
        color: $light-color;
    }
  }
}
